@media screen and (max-width: 1200px) {
	.menu-top_cart_circle {
		right: 78px;
	}
.mobile-apps_description {
  padding: 100px 89px 0 15px; }
.firstBlock_whitesquare:nth-child(1) {
	margin-left: 15px;
}
.panel {
	padding-right: 46px;
}

.tabs {
	margin-left: -6px;
}

.bin__blockInfo_title {
	margin-left: 80px;
	margin-top: 20px;
	font-size: 24px;
}
.bin__tab {
	margin-left: 82px;
}
.bin__storeMenu {
	margin-top: 25px;
	margin-bottom: 40px;
	padding-left: 40px;
}
.img-wrapper {

	margin:0 auto;
}

.content {
	padding-left: 60px;
}
.img-dimen-bot-right-top-view .text {
	max-width: 100%;
	text-align: center;
	margin-top: 20px;
}
.price-and-order {
	margin-top: 30px;
}
.storeMenu_price_title {
	margin-top:27px;
}
}

@media screen and (max-width: 991px) {

.storeMenu_price::after {
	left: 40px;
	position: absolute;
	display: block;
	content: '';
	height: 10px;
	width: 160px;
	background: #dedccc;
	margin-top: 5px;
	-webkit-border-radius: 15px;
	    border-radius: 15px; 
    }

.mobile-apps_description {
  padding: 80px 60px 80px 60px;
}
.firstBlock_whitesquare:nth-child(1) {
	margin-left: 0px;
}
.bin__blockInfo {
	margin-top: 30px;
}
.storeMenu_title {
	font-size: 18px;
	margin-left: 32px;
}
.storeMenu_choice {
	font-size: 18px;
	margin-left: 10px;
}
.bin__storeMenu {
	height: auto;
	padding-bottom: 45px;
	width: 100%;
	padding-left: 12px;
	padding-right: 6px;
	margin-bottom: 15px;
	margin-left: 50px;
}
.bin__tab {
	margin-left: 52px;
}
.bin__storeMenu_item {
	float: left;
	margin-right: 15px;
	font-size: 20px;
}
.bin__storeMenu_item:nth-child(2) {
	margin-right: 0;
}
.panel {
  margin-left: 0px;
}
label {
	margin-right: 0;
}
.helper {
	margin-top: 5px;
}
.bin__storeMenu_item div {
	margin-top: 0;
}
label {
	font-size: 20px;
}
.bin_storeImg {
	margin-left: 50px;
}
.storeMenu_price {
	text-align: right;
	margin-top: 40px;
}
.storeMenu_price::after {
	margin-left: 300px;
}
.first__title {
	font-size: 40px;
}
.bin__blockInfo_title {
	font-size: 22px;
	margin-left: 50px;
}
.img-wrapper-bottom {
	margin-top: 100px;
}

.mobile-apps_description {
	margin-bottom: 60px;
}

  .mobile-apps p.header-desc {
    font-size: 24px; }
 .mobile-apps p{
    font-size: 22px; }
.header-simple__white {
	text-align: center;
}
.devices-description {
	padding-top: 0px;
  	margin-top: -40px;
}
.tabcontent p{
	font-size: 21px;
}
.feature .header-simple__dark {
	width: 100%; 
	margin-bottom: 30px;
}

.feature p.top-right {
  max-width: none;
  font-size: 20px; 
}
.feature p {
	font-size: 20px;
}
.tabs-content__descr .text-bold {
	font-size: 20px;
}
.mobile-apps {
	padding-top: 70px;
}

.header-simple__dark {
	font-size: 40px;
}

.bg-grey {
  margin-left: 0px;
}

.channel-type {
	margin: auto;
	text-align: center;
	width: 100%;
	margin-left: 8px;
}
.price-and-order {
	margin:0 auto;
	display: block;
	text-align: center;
	margin-top: -60px;
}

.wrap-device-price {
	position: absolute;
	left: 33.5%;
	top: 440%;
}
.footer-block-left h4 {
	font-size: 18px;
}
.footer-block-left p span {
	font-size: 18px;
	font-weight: 300;
}
.footer__menu_link ul li a {
	font-size: 20px;
}
.footer__menu_info p a  {
	font-size: 18px;
}
.section-dark-description {
	font-size: 21px;
}
.tabs-switch button {
	font-size: 20px;
}
}




@media screen and (max-width: 767px) {
	.menu-top_cart_circle {
		right: 47px;
		top: 27px
	}
.sidenav a {
	font-size: 20px;
}
.storeMenu_quantity  {
  max-width: 150px;
}
.menu-top_menu {
	margin-left: -10px;
}

.panel {
	padding-right: 0;
	margin-left: -50px;
}
.bin__tab {
	margin-left: -130px;
	margin-top: 80px;
}
.bin__storeMenu {
	margin-left: 15px;
	padding: 20px 20px 65px 20px;
	width: 302px;
}
.bin__blockInfo {
	margin: 0;
}
.bin__storeMenu_item {
	float: left;
	margin-right: 15px;
	margin-top: -10px;
	font-size: 20px;
}
.firstBlock__store_btn {
	margin-left: 5px;
}
.bin__tab {
	float: left;
}
.bin_storeImg {
	margin-left: 20px;
}
.bin__title {
	font-size: 34px;
	margin-top: 235px;
}
.bin__storeMenu_item:nth-child(2) {
	margin-right: 0;
	margin-top: 5px;
}
.accordion {
	margin-left: -50px;
}
.storeMenu_price::after {
	left: -20px;
	display: block;
	content: '';
	height: 10px;
	width: 140px;
	background: #dedccc;
	margin-top: 5px;
	-webkit-border-radius: 15px;
					border-radius: 15px; 
 }

.switch-colors img:nth-child(1) {
	margin-left: 65px;
}
.switch-colors img:nth-child(2) {
	display: none;
}
.bg-dark {
	padding-left: 0;
}

.wrap-device-price {
	left: 29%;
	top: 320%;
}
.text-bold {
	margin-top: 40px;
}
.footer-block-left h4 {
	font-size: 16px;
}
.footer-block-left p span {
	font-size: 14px;
}
.footer__menu_link {
	font-size: 20px;
}
.footer__menu_info {
	font-size: 15px;
}
.things__img {
	min-width: auto;
}

}

@media screen and (max-width: 575px) {
	.menu-top_cart_circle {
		position: relative;
		right: auto;
		margin-left: -4px;
		margin-top: -72px;
	}
.panel p {
	margin-left: 15px;
}
.bin__block_centerImage {
	margin-left: 5px;
}
.bin_storeImg {
	margin-left: 0px;
}
.sidenav a {
	font-size: 18px;
}
.menu-top_menu {
	margin-left: 10px;
}
.btn-light {
  padding: 13px 15px; 
}
.accordion {
	margin-left: 15px;
}
.bin__blockInfo_title {
	margin-left: 15px;
	float: left;
}
.bin__tab {
	margin-left: 0px;
	float: left;
	margin-top: 15px;
}
.storeMenu_price::after {
	display: none;
 }
.panel {
	margin-left: 0px;
}
.wrap-device-price {
	margin-right: 0;
	margin-left: -3%;
}

.bin__title {
	font-size: 26px;
}
}
@media screen and (max-width: 480px) {

#menu img {
	display: none;
}
.menu-top_menu {
	margin-left: 5px;
}
}
@media screen and (max-width: 410px) {
	.accordion {
		width: auto;
	}
	.accordion .fa-caret-down {
    margin-top: 29px;
	}
	.accordion .fa-caret-up {
    margin-top: 29px;
	}
}
@media screen and (max-width: 378px) {

#bin {
	padding: 50px 0 150px 0;
}
.bin__title {
	font-size: 22px;
	text-align: center;
}
}
@media screen and (max-width: 327px) {
	#bin {
		padding: 75px 0 150px 0;
	}
}